{:paths
 ["src/main"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.0-alpha2"}
  com.wsscode/pathom3 {:mvn/version "2021.10.20-alpha"}
  cheshire/cheshire   {:mvn/version "5.10.1"}
  meander/epsilon     {:mvn/version "0.0.602"}
  http-kit/http-kit   {:mvn/version "2.5.3"}}}
