{:paths
 ["src/main"]

 :deps
 {cheshire/cheshire                {:mvn/version "5.10.1"}
  com.wsscode/pathom-viz-connector {:mvn/version "2021.10.16"}
  com.wsscode/pathom3              {:mvn/version "2021.10.20-alpha"}
  http-kit/http-kit                {:mvn/version "2.5.3"}
  io.pedestal/pedestal.jetty       {:mvn/version "0.5.9"}
  io.pedestal/pedestal.service     {:mvn/version "0.5.9"}
  meander/epsilon                  {:mvn/version "0.0.602"}
  com.wsscode/transito             {:mvn/version "2021.07.04"}
  org.clojure/clojure              {:mvn/version "1.11.0-alpha2"}}}
